

body {
    background-color: rgb(121, 163, 156);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#content {
    background-color: beige;
    flex-grow: 1;
    width: min(90%, 800px);
    margin: 20px;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    flex: 1 100%;
    flex-direction: column;

}

#menuButton1, #menuButton2, #menuButton3 {
    border: 3px solid black;
    border-radius: 3px;
}

header, footer {
    background-color: chocolate;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.section {
    border: 5px solid purple;
    border-radius: 5px;
    margin: 25px 0px;
    padding: 0px 10px;
}

h3 {
    font-size: 1rem;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    gap: 10px;
}